<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bil</title>
    <link rel="stylesheet" th:href="@{/Styler.css}">
</head>
<body>

    <ul class="logout" th:if="${session.loggedIn}">
        <li><a th:href="@{/logout}">Log ud</a></li>
    </ul>

    <div class="container">
        <h1>Opret Bil</h1>

        <form th:action="@{/bil}" th:object="${bil}" method="post">
            <label>Brand:</label>
            <input type="text" th:field="*{brand}">

            <label>Model:</label>
            <input type="text" th:field="*{model}">

            <label>Nummer plade:</label>
            <input type="text" th:field="*{nummerPlade}">

            <label>Pris</label>
            <input type="number" th:field="*{pris}">

            <label>Bil Status</label>
            <input type="text" th:field="*{bilStatus}">

            <label>Stelnummer</label>
            <input type="text" th:field="*{stelNummer}">

            <label>Produktion år</label>
            <input type="number" th:field="*{produktionAar}">

            <label>Brændstof type</label>
            <input type="text" th:field="*{braendstoftype}">

            <button type="submit">Gem Bil</button>
        </form>

        <a th:href="@{/dataForside}">tilbage til forsiden</a>
    </div>
</body>
</html>