<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forside - Data registrator</title>
  <link rel ="stylesheet" th:href="@{/Styler.css}">
</head>

<body>

<!-- Log ud -->
<ul class="logout" th:if="${session.loggedIn}">
  <li><a th:href="@{/logout}">Log ud</a></li>
</ul>


<div class = "container">
  <!-- Overskrift / titel -->
  <h1 class = "title">Velkommen</h1>


  <div class="function-boxes">
    <!-- Oprettelse af ny lejeaftale boksen -->
    <a href = "/lejeAftaleListe" class = "function-box">
      <img src="/images/car3.png">
      <p>Opret ny lejeaftale</p>
    </a>
  </div>

  <br>

  <div class="function-boxes">
    <!-- Oprettelse af ny lejeaftale boksen -->
    <a href = "/kundeListe" class = "function-box">
      <img src="/images/people.png">
      <p>Opret ny kunde</p>
    </a>
  </div>

  <br>

  <div class="function-boxes">
    <!-- Oprettelse af ny lejeaftale boksen -->
    <a href = "/bilListe" class = "function-box">
      <img src="/images/car2.png">
      <p>Opret ny bil</p>
    </a>
  </div>

</div>
</body>
</html>