<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>kundeOversigt</title>
    <link rel="stylesheet" th:href="@{/Styler.css}">
</head>
<body>

<ul class="logout" th:if="${session.loggedIn}">
    <li><a th:href="@{/logout}">Log ud</a></li>
</ul>

<div class="container">
<h1>Liste over kunder</h1>
<table class="customer-table">
    <tr class="table-header">
        <th>ID</th><th>Navn</th><th>Email</th><th>Handling</th>
    </tr>
    <tr th:each="k : ${kunder}">
        <td th:text="${k.kundeId}"></td>
        <td th:text="${k.fornavn + ' ' + k.efternavn}"></td>
        <td th:text="${k.email}"></td>
        <td>
            <a th:href="@{/kunder/edit/{id}(id=${k.kundeId})}">Rediger</a> |
            <a th:href="@{/kunde/delete/{id}(id=${k.kundeId})}"onclick="return confirm('Er du sikker?')">Slet</a>
        </td>
    </tr>
</table>

<a href="/kunde" class="function-box">Opret ny kunde</a>

<a href="/dataForside" class="function-box">Tilbage til forsiden</a>
</div>
</body>
</html>